@import './variables';

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.showMobile {
  @media (min-width: 1280px) {
    display: none;
  }
}

.hideMobile {
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
}

main {
  top: 48px;
}

section {
  // width: 100%;
  // background-color: $dr-glitter;
  // background-repeat: no-repeat;
  // background-position: top center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // position: relative;
  .container {
    background-position: top center;
    padding: 48px 24px;
    background-size: cover;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 2em;
    @media (min-width: 768px) {
      padding: 48px;
      @media (min-width: 1280px) {
        padding: 128px;
      }
    }

    h1 {
      font-size: 32px;
      text-align: center;
      font-weight: 500;
      text-align: center;
      @media (min-width: 1280px) {
        font-size: 48px;
        line-height: 1.5em;
        margin: 48px 0;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      color: $dr-black;
      text-align: center;
      @media (min-width: 1280px) {
        font-size: 32px;
        line-height: 1.5em;
        margin: 32px 0;
      }
    }

    div {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
}

ul {
  margin: 0;

  li {
    text-align: left;
    margin: 8px 0;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 240px;
    height: 240px;
  }
}

#fixedmenu {
  height: 48px;
  position: fixed;
  width: 100%;
  background-color: #FFEAE3;
  text-transform: uppercase;
  z-index: 100;
  padding: 0;
  background-image: none;

  .drpurcsi {
    color: #fff;
  }

  .hideMobile {
    @media (min-width: 768px) {
      display: block;
    }
  }

  .showMobile {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;

    .openmenu {
      height: 32px;
      position: absolute;
      right: 8px;
      top: 8px;
      width: 32px;
    }

    .closebtn {
      height: 32px;
      position: absolute;
      right: 8px;
      top: 8px;
      width: 32px;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: $dr-white;
      overflow-x: hidden;
      transition: 0.3s;
      padding-top: 48px;
      box-shadow: 0 0 8px rgba($dr-black, 0.3);

      ul {
        padding: 0;

        a {
          text-decoration: none;
          color: $dr-platinum;
          display: flex;
          transition: 0.3s;
          height: 48px;
          font-size: 16px;
          margin-right: 16px;
          margin-left: 16px;
          border-bottom: 1px solid $dr-platinum;
          font-weight: 400;
          align-items: center;
          justify-content: flex-start;
          white-space: nowrap;

          &:first-child {
            border-top: 1px solid;
          }
        }
      }
    }
  }

  ul {
    @media (min-width: 768px) {
      height: 48px;
      padding-right: 8px;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        height: 48px;
        text-decoration: none;
        justify-content: center;
        margin: 0 8px;
      }

      li {
        color: #fff;
        font-weight: 900;
        margin: 0;
        font-style: italic;
      }

      &:hover {
        li {
          color: #957dad;
          border-bottom: 3px solid #957dad;
          margin-top: 3px;
        }
      }
    }

    li {
      font-size: 16px;
      list-style-type: none;
      color: $dr-white;
      font-weight: 400;
      margin-left: 8px;
    }
  }
}

#landing {
  background-color: #fec8d8;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 35vh 0;
  background-image: url("./hanna.png");
  background-size: cover;

  h1 {
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  h2 {
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

#introduction {
  background-color: #ffdfd3;
  height: 100vh;
  display: block;

  h1 {
    font-size: 64px;
    font-weight: 900;
    font-style: italic;
    color: #957dad;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 48px;
  }

  div {
    color: #957dad;
  }
}

#goals {
  background-color: #d291bc;
  height: 100vh;
  display: block;

  h1 {
    font-size: 64px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 48px;
  }

  div {
    color: #fff;
  }
}

#czeizel {
  background-color: #fec8d8;
  height: 100vh;
  display: block;

  h1 {
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    color: #957dad;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 48px;
  }

  div {
    color: #957dad;
  }
}

#l33 {
  background-color: #957dad;
  height: 100vh;
  display: block;

  h1 {
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 48px;
  }

  div {
    color: #fff;
  }
}

#schedule {
  .surgery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width: 1280px) {
      justify-content: space-evenly;
    }

    .surgery {
      background-color: $dr-white;
      padding: 24px;
      border-radius: 16px;
      margin-bottom: 32px;
      @media (min-width: 1280px) {
        width: 400px;
      }

      .surgery-description {
        text-align: justify;
      }

      a {
        color: $dr-platinum;
        text-decoration: none;

        &:hover {
          color: $dr-glitter;
        }
      }

      &:hover {
        box-shadow: 0 0 8px rgba(0,0,0,0.25);
      }

      .price,
      .reserve,
      .time {
        text-align: left;
      }

      .title {
        text-align: left;
        margin: 16px 0 8px;

        span {
          font-weight: 500;
        }
      }

      ul {
        list-style-image: url("./pharmacy.svg");
        padding-left: 24px;
      }
    }
  }
}

#hospital {
  div {
    text-align: justify;
  }

  .transport-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 1280px) {
      justify-content: space-evenly;
    }

    .transport {
      background-color: $dr-glitter;
      border-radius: 16px;
      padding: 24px;
      width: 100%;
      margin-bottom: 32px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      @media (min-width: 1280px) {
        width: 400px;
      }

      &:hover {
        box-shadow: 0 0 8px rgba(0,0,0,0.25);
      }

      img {
        width: 80px;
        background-color: white;
        border-radius: 40px;
        padding: 8px;
        margin-bottom: 24px;
      }
    }
  }
}

#footer {
  background-color: $dr-platinum;
  color: $dr-white;
  padding: 8px;
  height: 48px;
  background-image: none;

  .container {
    padding: 0;

    div {
      text-align: center;
    }
  }
}
